body{
    background-color:rgb(242, 243, 199);
    min-height: 100vh;
}
.container {
 max-width: 1300px;
 max-height: auto;
 padding:0 4% ;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .icone {
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
text-decoration:none ;
font-size: 17px;
text-transform: uppercase;
color: rgb(87, 85, 85)
}
nav ul button{
    border: none;
    background-color: rgb(87, 85, 85);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
main{
    margin-top: 20px;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
.text-bx{
    width: 40%;
    }
    .text-bx h1{
        font-size: 3rem;
        text-transform: uppercase;
        color: rgb(219, 83, 20)
    }
    
    .text-bx p{
        font-weight: 400;
        margin-top: 20px;
    }
    .text-bx .input-bx{
        margin: 20px 0;
        display: flex;

    }
    .text-bx .input-bx input{
        width: 60%;
        display: block;
        height: 50px;
        padding: 10px;
        border: none;
        outline: none;
        color: #8997b9;
        font-size: 16px;
    }
    .text-bx .input-bx input::placeholder{
        color: #8997b9;
    }
    .text-bx .input-bx button{
        outline:none;
        border: none;
        padding: 10px 20px;
        background-color: rgb(87, 85, 85);
        color: white;
        cursor: pointer;
        font-size: 15px;
    }
    .icons{
        margin-top: 30px;

    }
    .icons a{
        text-decoration: none;

    }
    .icons i{
        font-size: 23px;
        margin: 0 3px;
        color: white;
        background-color: rgb(87, 85, 85);
        padding: 7px;
        border-radius: 5px;
    }
    .img-bx{
        width: 60%;

    }
    .img-bx img{
        
        width: 35%;
        

    }
    @media (max-width:970px){
        nav .icones{
            display: block;  
        }
        nav ul{
            position: fixed;
            width: 60%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translate(-100%);
            display: flex ;
            align-items: center;
            flex-direction:column ;
            justify-content: center;
            transition: 0.3s ease-in;
            background-color: rgb(87, 85, 85);
        }
        nav ul.active{
            transform: translate(0);

        }
        nav ul li{
            padding: 10px;
        }
        nav ul li a{
            font-size: 18px;
            color:white
        }
        nav ul button{
            background-color:#f1676d ;
            font-size: 18px;
            margin: 10px;

        }
        main{
            flex-direction: column;
        }
        .text-bx,
        .img-bx{
            width: 100%;
            text-align: center;
        }
        .text-bx{
            margin-bottom: 40px;
        }
        .text-bx .input-bx{
            justify-content: center;
        }

    }
    

    